:host {
    background: #3f51b5;
    border: 0 solid #a1a1a1;
    border-bottom-width: 1px;
    padding: 0 16px;
}

.header-headline {
  h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
    color: white;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
    color: white;
  }
}