<footer class="docs-footer"
        [class.is-next-version]="isNextVersion">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">
        <img class="docs-footer-angular-logo"
          src="../../../assets/img/homepage/angular-white-transparent.svg"
          alt="angular">
        <span><a href="https://angular.io">By Jacob R</a></span>
      </div>
    </div>

    <div class="docs-footer-version">
      <span class="version">Center part of footer</span>
    </div>

    <div class="docs-footer-copyright">
      <span>Right part of footer</span>
    </div>
  </div>
</footer>
